/* PHASE 1: Header */
body {
  font-family: 'Rubik', sans-serif;
}

.header {
  background-color: red;
  color: white;
  /* padding: 10px; */
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-logo {
  font-weight: bold;
  padding: 15px 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.header-logo:hover {
  background-color: black;
  cursor: pointer;
}

.header-list {
  display: flex;
}

.header-list li {
  padding: 15px 20px;
  border-left: 1px solid white;
}

.header-list li:last-child {
  border-right: 1px solid white;
}

.header-list a {
  text-decoration: none;
  color: white;
}

.header-list li:hover {
  background-color: black;
}

.header-list:hover .badge {
  background-color: red;
}

.badge {
  background-color: black;
  border: 1px solid black;
  padding: 1px 6px;
  border-radius: 50%;
}

.nested-list {
  color: black;
  display: none;
  position: absolute;
  width: 600px;
  left: -1px;
  background-color: white;
  border: 1px solid black;
}

.notifications-parent:hover .nested-list {
  display: block;
}

.nested-list li:hover {
  background-color: rgb(215, 215, 215);
}
